<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
  <title>パスワード変更</title>
</head>
<body>
<div th:insert="common/header :: header_fragment"></div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          パスワード変更
        </div>
        <div class="card-body">
          <form th:action="@{/user/password/change}" method="post">
            <div class="form-group mt-4">
              <label for="newPassword">新しいパスワード</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword"
                     required>
            </div>
            <div class="form-group mt-4">
              <label for="confirmPassword">新しいパスワード（確認）</label>
              <input type="password" class="form-control" id="confirmPassword"
                     name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary mt-4">変更</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
