<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <title>2段階認証</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    2段階認証
                </div>
                <div class="card-body">
                    <form th:action="@{/login/mfa}" method="post">
                        <div class="form-group">
                            <label for="code">6桁の認証コードを入力してください <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="code" name="code" required pattern="\d{6}">
                            <div class="invalid-feedback">6桁の数字を入力してください。</div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">認証</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
