<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
  <title>会員登録フォーム</title>
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          会員登録
        </div>
        <div class="card-body">
          <form th:action="@{/register}" method="post">
            <div class="form-group">
              <label for="loginId">ログインID</label>
              <input type="text" class="form-control" id="loginId" name="loginId" required>
            </div>
            <div class="form-group mt-4">
              <label for="password">パスワード</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group mt-4">
              <label for="eMail">通知先メールアドレス</label>
              <input type="email" class="form-control" id="eMail" name="eMail">
              <small class="form-text text-muted">※このメールアドレスは必須ではありませんが、パスワードリセットの際に使用されるため、設定することが推奨されます。</small>
            </div>
            <button type="submit" class="btn btn-primary mt-4">登録</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
